<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="projectwcf" connectionString="Data Source = UGIISPOYOWIDODO; Initial Catalog = ProjectWCF; User ID = sa; Password = 12345ugi" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
    <bindings>
      <webHttpBinding>
        <binding name="web_http" bypassProxyOnLocal="false" hostNameComparisonMode="WeakWildcard">
        </binding>
      </webHttpBinding>
    </bindings>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="web_behavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="http_behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    
    <services>
        <service name="User" behaviorConfiguration="http_behavior">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost/ProjectWCF/User.svc" />
            </baseAddresses>
          </host>
          <endpoint address="" binding="webHttpBinding" bindingConfiguration="web_http" contract="IUser" behaviorConfiguration="web_behavior">
            <identity>
              <dns value="http://localhost/ProjectWCF/User.svc" />
            </identity>
          </endpoint>
        </service>
    </services>

    <!--<services>
      <service name="ServiceWeb" behaviorConfiguration="http_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ProjectWCF/ServiceWeb.svc" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="web_http" contract="IServiceWeb" behaviorConfiguration="web_behavior">
          <identity>
            <dns value="http://localhost/ProjectWCF/ServiceWeb.svc" />
          </identity>
        </endpoint>
      </service>
    </services>!-->
      
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>

<!--<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.0"></compilation>
      <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,:,\,?" />
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages validateRequest="false" />
	</system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding
         name="web_http"
         bypassProxyOnLocal="false"
         hostNameComparisonMode="WeakWildcard">
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web_behavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="http_behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="User" behaviorConfiguration="http_behavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.43.141/ProjectWCF/User.svc" />
          </baseAddresses>
        </host>
        <endpoint
          address=""
         binding="webHttpBinding"
         bindingConfiguration="web_http"
         contract="IUser"
         behaviorConfiguration="web_behavior">
          <identity>
            <dns value="http://192.168.43.141/ProjectWCF/User.svc"/>
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
        <endpoint
        address="http://192.168.43.141/ProjectWCF"
         binding="webHttpBinding"
         bindingConfiguration="web_http"
         contract="IUser"
         behaviorConfiguration="web_behavior"
   />
<configuration>
  <system.web>
    <compilation debug="true">
    </compilation>
    <system.servicemodel>
      <bindings>
        <webhttpbinding>
          <binding name="DefaultBinding">
          </binding>
        </webhttpbinding>
        <behaviors>
          <endpointbehaviors>
            <behavior name="RESTFriendly">
              <webhttp>
              </webhttp>
              <behavior name="RESTServer.JsonServiceAspNetAjaxBehavior">
                <enablewebscript>
                </enablewebscript>
              </behavior>
              <servicebehaviors>
                <behavior name="RESTFriendly">
                  <servicemetadata httpgetenabled="true">
                    <servicedebug includeexceptiondetailinfaults="false">
                    </servicedebug>
                  </servicemetadata>
                </behavior>
                <services>
                  <service name="RESTServer.GaitLinkService">
                    <endpoint address="" behaviorconfiguration="RESTFriendly" binding="webHttpBinding" bindingconfiguration="DefaultBinding" contract="RESTServer.IGaitLinkService">
                      <identity>
                        <dns value="localhost">
                        </dns>
                      </identity>
                    </endpoint>
                  </service>
                  <servicehostingenvironment aspnetcompatibilityenabled="true">
                  </servicehostingenvironment>
                </services>
              </servicebehaviors>
            </behavior>
          </endpointbehaviors>
        </behaviors>
      </bindings>
    </system.servicemodel>
  </system.web>
</configuration>-->